<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tests">
    <test name="Tests">
        <packages>
            <package name="com.xm.ui_tests.VerifyUpdatingCalendarEventsTest"/>
            <package name="com.xm.api_tests.GetApiTests"/>
        </packages>
    </test>

    <listeners>
        <listener class-name="com.xm.listeners.ApiListeners"/>
    </listeners>

</suite>
